@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
body {
  color: #333;
  font-family: 'Arvo', serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.12' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eee;
  margin-top: 16px;
  padding: 16px 0;

  /* background-color: blue;
  padding: 16px;
  margin: 16px; */
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

input {
  border: 1px solid #ccc;
  padding: 16px;
}

button {
  cursor: pointer;
  background: black;
  color: white;
  padding: 16px;
  border: none;
}
